* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #262626;
  color: #d9d9d9;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

main {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  text-align: center;
}

.header h1 {
  margin-bottom: 0;
  color: #f9f4da;
  font-weight: 500;
  font-size: 1.25rem;
}

.header p {
  max-width: 350px;
  margin-top: 5px;
  color: #8e8e8e;
  font-size: 0.875rem;
}

.status {
  width: 350px;
  height: 60px;
  background-color: #10a95b;
  border-radius: 4px;
  border: none;
  color: #f9f4da;
  text-align: center;
}

.status h2 {
  margin-top: 0;
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 1.25rem;
  padding-top: 5px;
}

.status p {
  margin: 0;
  font-weight: 500;
  font-size: 1rem;
}

.language-chips {
  margin-block: 40px;
  max-width: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
}

.language-chips span {
  padding: 5px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 0.75rem;
}

.word {
  max-width: 350px;
  display: flex;
  gap: 2px;
  justify-content: center;
}

.word span {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  background-color: #323232;
  color: #f9f4da;
  border-bottom: 1px solid #f9f4da;
}

.keyboard {
  max-width: 480px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  margin-top: 40px;
}

.keyboard button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 8px;
  font-size: 1rem;
  background-color: #fcba29;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  cursor: pointer;
}

.keyboard button.correct {
  background-color: #10a95b;
}

.keyboard button.wrong {
  background-color: #ec5d49;
}

.new-game-btn {
  width: 230px;
  padding: 8px 16px;
  margin-top: 40px;
  background-color: #11b5e5;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
