* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #262626;
  color: #d9d9d9;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.header {
  text-align: center;
}

.header h1 {
  margin-bottom: 0;
  color: #f9f4da;
  font-weight: 500;
  font-size: 1.25rem;
}

.header p {
  max-width: 350px;
  margin-top: 5px;
  color: #8e8e8e;
  font-size: 0.875rem;
}

.status {
  max-width: 350px;
  height: 60px;
  background-color: #10a95b;
  border-radius: 4px;
  border: none;
  color: #f9f4da;
  text-align: center;
}

.status h2 {
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 1.25rem;
  padding-top: 5px;
}

.status p {
  margin: 0;
  font-weight: 500;
  font-size: 1rem;
}
